<!doctype html>

<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta charset="UTF-8">
<title>CD Catalog</title>
<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
</head>
<body>
<div class="wrap">
<nav>
<ul class="menu">
<li><a href="#">Menu</a>
<ul>
<li><a href='/band/add'>Add Band</a></li>
<li><a href='/home/genrelist'>Search By Genre</a></li>
</ul>
</li> 
</ul>
</nav>
</div>
<div align="center">
<table>
<caption>CD Catalog</caption>
<tr>
<th>Name</th><th>Location</th><th>Albums</th>
</tr>
<!-- put the band-level data here -->
{{range .Bands}}
<tr>
<td>{{.Value.Name}}</td><td>{{.GetLocation}}</td><td><a href="/album/index/{{.Id}}">Albums</a></td>
</tr>
{{end}}
</table>
</div>
</body>
</html>